Repository disnel-fonoma/next-landings: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_frontend_build, run_backend_build

.circleci/config.yml:

version: 2.1

orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  run_frontend_build:
    type: boolean
    default: false
  run_backend_build:
    type: boolean
    default: false

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - path-filtering/filter:
          mapping: |
            frontend/.* run_frontend_build true
            backend/.* run_backend_build true
          base-revision: main
          config-path: .circleci/continue_config.yml

Updated config.yml
  .circleci/config.yml
Due: none

Remove unused Docker image from build_backend job
  .circleci/continue_config.yml
Due: none

Add note for CircleCI trigger
  frontend/README.md
Due: run_frontend_build

Add note about frontend deployment restriction
  backend/README.md
Due: run_backend_build

Add path-filtering job to CircleCI config.yml
  .circleci/config.yml
  backend/README.md
  frontend/README.md
Due: run_frontend_build, run_backend_build

Add vercel.json file to disable deployment for main branch
  frontend/vercel.json
Due: run_frontend_build

Add check-changes.sh script and update vercel.json
  frontend/check-changes.sh
  frontend/vercel.json
Due: run_frontend_build

sds
  backend/README.md
Due: run_backend_build

Update NEXTJS_DIR in check-changes.sh
  frontend/check-changes.sh
Due: run_frontend_build

fdsfdsf
  backend/README.md
Due: run_backend_build

Remove vercel.json build configuration
  frontend/vercel.json
Due: run_frontend_build

depl
  backend/README.md
Due: run_backend_build

show deploy
  frontend/README.md
Due: run_frontend_build

show NOT deploy
  backend/README.md
Due: run_backend_build

moved script to parent
  check-changes.sh
Due: none

should de
  frontend/README.md
Due: run_frontend_build

will not deploy
  backend/README.md
Due: run_backend_build

restored script
  frontend/check-changes.sh
Due: run_frontend_build

change
  frontend/README.md
Due: run_frontend_build

test
  check-changes.sh
Due: none

Update README.md
  README.md
Due: none

Update README.md
  frontend/README.md
Due: run_frontend_build

Update README.md
  backend/README.md
Due: run_backend_build

Update README.md on front
  frontend/README.md
Due: run_frontend_build

Add strapi-plugin-import-export-entries dependency and enable import-export-entries plugin
  backend/config/plugins.js
  backend/package-lock.json
  backend/package.json
Due: run_backend_build

some change
  check-changes.sh
Due: none

Remove CircleCI configuration files
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

some change (#1)
  .circleci/config.yml
  .circleci/continue_config.yml
  check-changes.sh
Due: none

gh actions
  .github/workflows/deploy-to-stage.yml
Due: none

Stage (#2)
  .github/workflows/deploy-to-stage.yml
Due: none

testing gh actions
  testing-auto-merge
Due: none

fixed file
  .github/workflows/deploy-to-stage.yml
Due: none

add identity
  .github/workflows/deploy-to-stage.yml
Due: none

add auth
  .github/workflows/deploy-to-stage.yml
Due: none
